<form action="/login" method="post">
  <input type="text" name="player_1" placeholder="Enter Player 1's initials">  
  <input type="text" name="player_2" placeholder="Enter Player 2's initials">
  <input type="text" name="player_3" placeholder="Enter Player 3's initials">
  <input type="text" name="player_4" placeholder="Enter Player 4's initials">
  <button type="submit">Submit</button>
</form>
